@{ ViewData["Title"] = "Chart Page"; }

@section scripts{
    <script asp-append-version="true" src="~/js/chart.js"></script>
}

<h2>Test chart</h2>

<div class="container">
    <canvas id="myChart"></canvas>
</div>